@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap');


* {
    box-sizing: border-box;
    font-weight: normal;
    font-family: 'Edu SA Beginner', cursive;
}
body {
    background-color: #fff;
    text-align: center;
    line-height: 1.9;
    letter-spacing: 0.2em;
    font-size: 12px;
    color: #888;
}

header {
    margin: 1.5em auto 1.5em auto;
    width: 80%;
    max-width: 500px;
    position: relative;
    animation: FadeIn 5s;
}
header img {
    display: block;
    width: 100%;
}
header h1 {
    display: inline-block;
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #88888820;
    letter-spacing: 0.5em;
    text-indent: 0.5em;
    font-family: 'Cherry Bomb One', cursive;
    font-size: 2.1em;
    color: #a4c1d7;
    -webkit-text-stroke: 1px #ffffff;
}

nav {
    margin: 0 auto 1.5em;
    animation: FadeIn 1s;
}
nav ul li {
    margin: 0 1em;
    display: inline-block;
}
nav ul li a{
    font-size: 1.2em;
    font-family: 'Cherry Bomb One', cursive;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #a4c1d7;
}
a:hover {
    transition: .5s color;
    color: #fff;
}

section {
    margin: 3em auto;
    padding: 0em 3em;
    max-width: 600px;
}
section > section {
    display: inline-block;
    word-wrap: break-word;
    background-color:  #a4c1d72d;
}

section h2 {
    text-indent: 0.3em;
    letter-spacing: 0.2em;
    font-family: 'Cherry Bomb One', cursive;
}
section h3 {
    display: inline-block;
    padding: 0.2em 0.5em;
    background-color: #a4c1d7;
    font-size: 11px;
    color: #fff;
}
section ul li {
    margin: 0.1em;
    padding: 0.4em;
    list-style-position: inside;
}
section mark {
    background: linear-gradient(transparent 60%, #efefef 40%);
}

div.bar {
    margin: 1em auto;
    width: 1px;
    height: 30px;
    background-color: #888;
}

input[type] {
    padding: 0.2em 0.5em;
    background-color: #ffffff59;
    border: 0px solid #88888843;
    border-bottom-width : 0.06em;
    border-radius: 0;
    color: #888;
}
textarea {
    margin-top: 2em;
    width: 14em;
    height: 5em;
}
input[type=text] {
    width: 9.7em;
    height: 1.9em;
}
input[type=date] {
    margin-top: 4px;
    width: 9.7em;
    height: 1.9em;
}
input[type=number] {
    margin-top: 4px;
    width: 9.7em;
    height: 1.9em;
}
input[type=submit] {
    width: auto;
}

button{
    width: auto;
    height: auto;
    padding: 0.2em 0.35em;
    background-color: #a4c1d7;
    border: thin solid #888;
    color: #ffffff;
}

footer {
    margin: 1em auto 1.5em;
}

@media screen and (min-width: 401px) {
    body {
        font-size: 13px;
    }
}
@media screen and (max-width: 400px) {
    body {
        font-size: 140px;
    }
}

@keyframes FadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#reviewContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
.reviewCards {
    height: 250px;
    width: 250px;
    margin: 5px;
    padding: 30px;
    text-align: center;
    border: solid thin #88888851;
    word-wrap: break-word;
}
  .card-rating {
    margin: 5px;
    padding: 5px;
    font-size: 15px;
    color: #a4c1d7;
  }
  .card-text {
    margin-top: 2px;
    margin-bottom: 10px;
    padding: 0px;
    font-size: 14px;
    font-weight: thin;
    color: #888;
  }
  .card-date {
    margin-bottom: 0px;
    padding: 0px;
    font-size: 13px;
    color: #888;
  }
  .card-name {
    margin-top: 0px;
    padding: 0px;
    font-size: 11.1px;
    color: #888;
  }
